.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1000px) {
    width: 80%;
    margin-bottom: 60px;
  }
  @media screen and (max-width: 600px) {
    width: 90%;
    margin-bottom: 40px;
  }
  .title {
    margin: 10px 0;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 450px) {
      flex-direction: column;
      gap: 10px;
    }
  }
}
