.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media screen and (max-width: 800px) {
    align-items: center;
  }

  .link-to-collection {
    cursor: pointer;
    width: auto;
    transition: 0.2s;
    &:hover {
      background-color: whitesmoke;
    }
  }
  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 800px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }
    @media screen and (max-width: 380px) {
      grid-template-columns: 1fr;
    }
  }
}
